.white {
    color: #fff;
}

.snow{
	color:snow;
}

.black {
    color: #000;
}

.c-red {
    color: #761c19;
}

.c-blue {
    color: #002166;
}
.green{
    color:#00FF00;
}

.c-green{
    color:darkgreen;
}
.c-pink{
    color: #f50057;
}

.c-samawe{
    color:#31b0d5;
}

.c-yellow{

    color:#FFC125;
}