/* *********************************| login screen |************************************* */
#img {
    width:100%;
    height: 90%;
    background-image: url(../img/h.png);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;

    padding-bottom: 10em;
    padding-top: 10em;

    margin-bottom: 2em;

}




